:root {
    /* --- COLORES PRINCIPALES --- */
    --primary-blue: #3b82f6;
    /* Azul eléctrico (Branding/Acción) */
    --deep-navy: #0f172a;
    /* --- COLORES DE TEXTO --- */
    --text-main: #f8fafc;
    --border-color: #334155;
    /* Bordes sutiles para un look serio */
    --success-code: #10b970dc;
    /* Verde para estados positivos o terminal */

}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
p, a, h1,h2,h3{
    line-height: 1.5;
    word-spacing: .5;
    letter-spacing: .1rem;
}
}
 
